@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --corFundo: #333333
}

body {
    width: 100%;
    height: 100vh;
    
    background-color: var(--corFundo);

    display: flex;
    align-items: center;
    justify-content: center;
}